.full-width-container{
    padding-left:0px;
    padding-right:0px;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 1
    }

    80% {
        opacity: 0.75
    }

    90% {
        opacity: 0.5
    }
    95% {
        opacity: 0.25
    }

    100% {
        opacity: 0
    }
}


.welcome-text{
    position: absolute;
    left: 25%;
    top: 50%;
    opacity: 0;
    color: white;
    font-size: 36px;
    background-color: rgba(12, 166, 181, 0.7); 
    padding: 1.5rem 1rem;
    border-radius: 10px;
    animation-name: fadeOut;
    animation-duration: 6s;
    font-family: 'Kreon', sans-serif;
}

#goodNewsCarousel {
    opacity: 1;
    /*
    animation-name: fadeIn;
    animation-duration: 3s;
    */
}

.header {
    position: absolute;
    top: 10%;
    left: 5%;
    color: blue; 
    font-family: 'Righteous', cursive;
}

.custom-carousel-caption {
    background-color: #00000070;
    border-radius: 10px;
}

.custom-carousel-caption h5{
    color: white;
}

 /* potential background: background-color: #17d0d0;  */