<html>
    <head>
        <title> Nicole News Network </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='app-base.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Kreon|Rancho|Righteous&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid full-width-container">
                <div id="goodNewsCarousel" class="carousel slide" data-ride="carousel">
                       
                        <div class="carousel-inner">
                          {% for article in articles %}
                          {% if loop.first %}
                            <div class="carousel-item active">
                          {% else %}
                             <div class="carousel-item">
                          {% endif %}
                            <img class="d-block w-100" src="{{ article.img }}">
                            <div class="carousel-caption custom-carousel-caption d-none d-md-block">
                                    <a href="{{ article.link }}"><h5> {{ article.title }}</h5> </a>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#goodNewsCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#goodNewsCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="welcome-text">
                      Hey Nicole, the world isn't so bad
                    </div>
                    <div class="header">
                      <h3> Nicole News Network </h3> 
                    </div>
                  </div>

    </body>
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
</html>